.container {
    width: 100%;
    height: 100vh;
    margin-top: 6rem;
}

body {
    background: #780206;  /* fallback for old browsers */
    background: -webkit-linear-gradient(130deg, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(130deg, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
}

h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
}

.search-wrapper {
}